form(action="/new", method="post")
  label(for="name") Name:
  input(type="text", id="name", name="name")

  label(for="message") Message:
  textarea(id="message", name="message", rows="4")

  input(type="submit", value="Submit")
